.home{
      height: 350px;
}

.post-header{
      width: 100%;
      height: 500px;
      margin-top: -300px;
      z-index: 1;
      /* background-color: red;
      /*background-color: red;*/
}

.post-container{
      max-width: 800px;
      margin: auto;
      width: 100%;
}

.header-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem !important;
}

.back-home{
      color: #2971a1;
      font-size: 0.9rem;
}

.header-title{   
      width: 90%;
      font-size: 2.6rem;
      color: #d9d9d9;
      text-align: center;
      margin-bottom: 1rem;
}

/*maybe ake this whole red section transparent and add the image as a background image for the wgole page? */

.header-img{
      width: 100%;
      height: 420px;
      object-fit: cover;
      object-position: center;
}