/* font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif; */

* {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      scroll-padding-top: 2rem;
      /**/
      box-sizing: border-box;
      /**/
      color: #353535;
}

body {
      width: 100%;
}

a {
      text-decoration: none;
}

li {
      list-style: none;
}

img {
      width: 100%;
}


header {
      background-color: #353535;
}

nav {
      position: fixed;
      /*maybe sticky or maybe hidden until 1rf atricle*/
      top: 0;
      left: 0;
      width: 100%;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      background-color: #353535;
}

nav.shadow {
      background: #2b3439;
      box-shadow: 10px 12px 14px hsl(0 4% 14% / 10%);
      transition: 0.3s;
}

.logo {
      font-size: 1.5rem;
      font-weight: 700;
      /*900*/
      color: #2c9c60;
}

.logo span {
      color: #2971a1;
      position: relative;
      z-index: 2;
}

.logo-img {
      width: 90px;
      height: 100px;
      display: block;
      margin-bottom: -30px;
      filter:
            sepia(1) saturate(1) hue-rotate(183deg) brightness(1);
}

/**/
a.svg {
      position: relative;
      display: block;
}

a.svg:hover {
      position: relative;
      display: block;
      filter:
            sepia(1) saturate(20) hue-rotate(183deg) brightness(0.65);
}

a.svg:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

}

.login {
      padding: 8px 15px;
      font-weight: 500;
      border-radius: 5px;
      background-color: #2d556f;
      color: #d9d9d9;
}

.login:hover {
      background: #427d69;
      transition: 0.3s;
      color: white;
}

h1 {
      font-family: 'Permanent Marker', cursive;
      color: white;
      font-size: 3.5rem;
      font-weight: 200;
      padding: 1.5rem;
}

.post-title {
      font-size: 1.3rem;
      font-weight: 400;
}

h3 {
      font-size: 1rem;
      font-weight: 400;
}

.home {
      display: grid;
      grid-template-rows: 13rem;
      justify-items: center;
      align-items: center;
      text-align: center;
      margin-top: 1.5em;
      padding: 2rem 0 2rem;
}

.home-subtitle {
      color: white;
}

.post-filter {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1.5rem;
      margin: 2rem;
      max-width: 100%;
}

.filter-item {
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;
      border: none;
      background-color: transparent;
}

.active-filter {
      background-color: #2c9c60;
      color: white;
      padding: 4px 10px;
      border-radius: 5px;

}

p {
      font-size: 1rem;
      font-weight: 300;
      padding: 1rem 0;
}


.posts {
      background-image: url(https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
      /*background-attachment: fixed;*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25%, auto));
      /*grid-template-columns: 1fr 1fr 1fr;*/
      grid-template-rows: auto;
      justify-items: center;
      justify-content: center;
      gap: 2rem;
      margin: 1.5rem 5rem;
      padding: 2rem;
      border-radius: 5px;
}

.post-box {
      background: #f1eeee;
      box-shadow: -3px 9px 10px #353535;
      /**/
      padding: 15px;
      border-radius: 0.5rem;
      width: 99.5%;
}

/*
.posts .expand {
      width: 25%;
      /*margin: 1em;
}
*/

.posts .hide {
      display: none;
}


.post-box:nth-of-type(3n+2) {
      box-shadow: 0px 9px 10px #353535;
      /**/
}

.post-box:nth-of-type(3n) {
      box-shadow: 3px 9px 10px #353535;
      /**/
}

.post-title a {
      color: #2971a1;
      padding: 0.5rem 0;
}

.post-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
      border-radius: 0.5rem;
}

.category {
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      color: #427d69;
}

.post-date {
      display: flex;
      font-size: 0.85rem;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 5px;
}

.post-description {
      font-size: 0.9rem;
      line-height: 1.5rem;
      margin: 5px 0 10px;

      /*this works*/
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 100%;
      /*find alt*/
}

.profile-art {
      margin: 1.5rem 5rem;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      gap: 0px;
      height: 100%;
      background: linear-gradient(150deg, #d9d9d913, #2c9c603a, #2971a127);

      justify-content: center;
      align-items: center;

}

.img-art {
      display: grid;
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 4;
      grid-column-end: 2;

      border-radius: 50%;



      /*justify-content: center;
      align-items: center;*/

      border: #2971a151;
      border-style: solid;

      box-shadow: -2px 3px 10px #353535;

      transform: scaleX(-1);
}

.title-art {

      display: grid;
      grid-row-start: 1;
      grid-column-start: 2;

      grid-row-end: 2;
      grid-column-end: 6;

      align-content: center;
      align-self: flex-end;

      padding-left: 1.5rem;
}

.content-art {

      grid-row-start: 2;
      grid-column-start: 2;

      grid-row-end: 4;
      grid-column-end: 6;

      align-content: center;
      align-self: flex-start;

      padding-left: 1.5rem;
}


.footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 30px 0;
      background: linear-gradient(180deg, #fff, #d9d9d9d9);
}

.footer p {
      font-size: 0.95rem;
}

.social {
      display: flex;
      align-items: center;
      column-gap: 1rem;
}

.social .bx {
      font-size: 1.5rem;
      color: #2d556f;
}

.social .bx:hover {
      color: #2c9c60;
      transition: 0.3s all linear;
}


/*Responsive*/

@media(max-width: 1060px) {
      .posts {
            grid-template-columns: repeat(auto-fit, minmax(45%, auto));
            margin: 1.5rem 2.5rem;
      }


      .profile-art {
            margin: 1.5rem 2.5rem;
            padding: 1rem 2rem;
            grid-template-rows: 1fr 1fr 1fr;
            /**/
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            /**/
            height: 100%;
            /**/
      }
}

@media(max-width: 890px) {
      .posts {
            margin: 1.5rem 1rem;
            gap: 1rem;
      }

      .profile-art {
            margin: 1.5rem 1rem;
            padding: 1rem 2rem;
      }

      /*Hacer las imagenes mas pequeñas, menos altas*/
}

@media(max-width: 600px) {
      nav {
            padding: 0.5rem 1rem;
      }
      
      .logo {
            font-size: 1.3rem;
      }
      
      .logo-img {
            width: 80px;
            height: 90px;
            margin-bottom: -30px;
      }

      .posts {
            grid-template-columns: repeat(auto-fit, minmax(80%, auto));
            gap: 2rem;
      }

      h1 {
            font-size: 2.5rem;
      }

      .profile-art {
            margin: 1.5rem 1rem;
            padding: 1rem 2rem;
            justify-content: center;
            grid-template-rows: 1fr 0.5fr 2fr;
            grid-template-columns: 1fr 0.5fr 1fr;
      }


      .img-art {

            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 1;
            column-span: all;
            justify-content: center;
      }

      .title-art {

            grid-row-start: 2;
            grid-column-start: 1;
            align-self: center;
            padding-left: 0;
            column-span: all;
            justify-content: center;
            font-size: 1.5rem;
      }

      .content-art {

            grid-row-start: 3;
            grid-column-start: 1;

            padding-left: 0;
            column-span: all;
            font-size: 0.9rem;
            text-align: justify;
      }

      /*El titulo hacerlo mas pequeño*/


      .footer {
            padding: 20px 0;
      }

      .footer p {
            font-size: 0.9rem;
      }
}

@media(max-width: 400px) {
      
      .logo {
            font-size: 1.2rem;
      }
      
      .logo-img {
            width: 70px;
            height: 80px;
            margin-bottom: -30px;
      }
      
      .login {
            padding: 5px 10px;
      }
      
      .posts {
            grid-template-columns: repeat(auto-fit, minmax(80%, auto));
            gap: 2rem;
            margin: 0.5rem;
            padding: 1rem;
      }

      .home {
            grid-template-rows: 7rem;
            margin-top: 5em;
            padding: 2rem 0 1rem;
            width: 100%;
      }

      h1 {
            font-size: 1.9rem;
            padding: 1rem;
            /*El titulo hacerlo mas pequeño*/
      }

      h3 {
            font-size: 0.7rem;
            font-weight: 400;
      }

      .post-filter {
            column-gap: 1rem;
            margin: 1.5rem;
            max-width: 100%;
      }

      .filter-item {
            font-size: 0.7rem;
      }

      /*El titulo hacerlo mas pequeño*/
      .post-box {
            padding: 10px;
            border-radius: 0.5rem;
            width: 100%;
      }

      .profile-art {
            margin: 1.5rem 1rem;
            padding: 1.5rem;
            justify-content: center;
            grid-template-rows: 1fr 0.5fr 3fr;
            grid-template-columns: 1fr 0.9fr 1fr;
            max-height: max-content;
      }

      .title-art {
            font-size: 1.2rem;
      }

      .content-art {
            font-size: 0.9rem;
      }

      .footer {
            padding: 10px 0;
      }

      .footer p {
            font-size: 0.75rem;
      }
}

@media(max-width: 320px) {

      .profile-art {
            margin: 1.5rem 1rem;
            padding: 1rem 2rem;
            justify-content: center;
            grid-template-rows: 1fr 0.5fr 3fr;
            grid-template-columns: 1fr 1fr 1fr;
            max-height: max-content;
            padding: 1rem;
      }

      .title-art {
            font-size: 1rem;
      }

      .content-art {
            font-size: 0.7rem;
      }
}

/* 280px en el galaxy fold es en que mas se descuadra... Empieza por el 318 aprox*/



/*
for responsive
Index
+change post display
+post filter
+nav-bar
+profile
+footer
*/